<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Encryption_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Encryption_Tool.Properties.Settings>
            <setting name="KeyDirectoryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="AesFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="RsaFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="AesImagePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="AesTextPath" serializeAs="String">
                <value>C:\</value>
            </setting>
        </Encryption_Tool.Properties.Settings>
    </userSettings>
</configuration>